asn1crypto==0.24.0
attrs==17.4.0
automat==0.6.0
backports-abc==0.5
beautifulsoup4==4.6.0
bleach==1.5.0
boto3==1.5.12
boto==2.48.0
botocore==1.8.26
bz2file==0.98
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cheroot==6.0.0
cherrypy==13.1.0
click==6.7
codegen==1.0
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
cymem==1.31.2
cython==0.27.3
cytoolz==0.8.2
decorator==4.1.2
dill==0.2.8.2
django==2.0.1
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
flask==0.12.2
gensim==3.2.0
h5py==2.7.1
html5lib==0.9999999
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipykernel==4.7.0
ipython-genutils==0.2.0
ipython==6.2.1
ipywidgets==7.1.0
itsdangerous==0.24
jedi==0.11.1
jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter==1.0.0
keras==2.1.2
leveldb==0.194
lxml==4.6.2
markdown==2.6.11
markupsafe==1.0
matplotlib==2.1.1
mistune==0.8.3
more-itertools==4.0.1
msgpack-numpy==0.4.1
msgpack-python==0.5.6
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
nose==1.3.7
notebook==5.2.2
numpy==1.14.0
opencv-python==3.4.0.12
pandas==0.22.0
pandocfilters==1.4.2
parsel==1.3.1
parso==0.1.1
pathlib==1.0.1
patsy==0.5.0
patterns==0.3
pexpect==4.3.1
pickleshare==0.7.4
pillow==5.0.0
plac==0.9.6
plotly==2.2.3
portend==2.2
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
pyasn1-modules==0.2.1
pyasn1==0.4.2
pycparser==2.18
pydispatcher==2.0.5
pygments==2.2.0
pyodbc==4.0.21
pyopenssl==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-gflags==3.1.2
pytz==2017.3
pywavelets==0.5.2
pyyaml==3.12
pyzmq==16.0.3
qtconsole==4.3.1
queuelib==1.4.2
regex==2017.4.5
requests==2.18.4
s3transfer==0.1.12
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
scrapy==1.5.0
seaborn==0.8.1
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
spacy==2.0.11
sqlalchemy==1.2.0
statsmodels==0.8.0
tempora==1.10
tensorflow-tensorboard==0.4.0rc3
tensorflow==1.4.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
theano==1.0.1
thinc==6.10.2
toolz==0.9.0
tornado==4.5.3
tqdm==4.19.5
traitlets==4.3.2
twisted==17.9.0
typing==3.6.2
ujson==1.35
urllib3==1.22
w3lib==1.18.0
wand==0.4.4
wcwidth==0.1.7
werkzeug==0.14.1
wheel==0.30.0
widgetsnbextension==3.1.0
wrapt==1.10.11
xlrd==1.1.0
zope.interface==4.4.3